


.nuiFooter {

	


	margin-top: 250px;
	color: #cfcfcf;
	font-size: 12px;
	
	&.footer-holder {
		height: auto;
		background: none;
		margin: 250px 0 0;
		width: 100%;
	
	}
	
	a {
		color: #FFF;
		font-size: 12px;
	}
	
	h1, h2, h3, h4, h5, h6 {
		color: #66CC00;
		& a {
			color: #66CC00;
		}
		margin-top: 0;
		margin-bottom: 0.6em;
	
	}
	h4 {
		margin-bottom: 0.2em;
	}

	.social_media {
		a {
			padding-left: 22px;
			
			
			&.flickr {
				background: url("http://www.greenpeace.org/international/Templates/Planet3/Styles/images/flickr.gif") no-repeat scroll 0 0 transparent;
			}
			&.facebook { 
				background: url("http://www.greenpeace.org/international/Templates/Planet3/Styles/images/facebook.gif") no-repeat scroll 0 0 transparent;
			}
			&.twitter{
				background: url("http://www.greenpeace.org/international/Templates/Planet3/Styles/images/twitter.gif") no-repeat scroll 0 0 transparent;
			} 
			&.youtube{
				background: url("http://www.greenpeace.org/international/Templates/Planet3/Styles/images/youtube.gif") no-repeat scroll 0 0 transparent;
			}
		
		}
		
		li {
			margin-bottom: 8px;
		}
	
	}
	.ships li {
		margin-bottom: 12px;
	}
	
	// DEBUG
	
	.unit {
		// background-color: #CCC;
	}
	
	.footer_top {
		background-color: #f5f7f7;
		padding: 15px 0 15px;
		color: #666666;
		font-weight: bold;
		font-size: 12px;
		border-top: 1px solid #d8dada;
		
		.imageHolder {
			width: 72px;
			float: left;
			padding-right: 8px;
		}
		.contentHolder {
			display: table-cell;
			vertical-align: middle;
			padding-right: 15px;
		}
		
		a{
			color: #373e49;
		}
	}
	
	.big_footer {
		background-color: #005300;		
		border-top: 5px solid #c4c6c6;
		// Removed 27/01/2011
		// min-height: 350px;
		
		.container{
			padding: 20px 0 40px;
		}
		
		.line {
			margin-bottom: 1.5em;
		}
		
		.facts {
			padding: 15px;
			background-color: #0f6400;
			@include border-radius(4px);
			
			h3 {
				margin: 0 0 0.5em;
			}
		}
		
	}
	
	&.whales .big_footer .container {
		background: transparent url('http://www.greenpeace.org/finland/Global/finland/nui/images/footer/nuiFooter-whales.gif') no-repeat -40px top;
		overflow: visible;
	}

		
	
	.small_footer {
		background-color: #66CC00;
		padding: 8px 0;
		
		
		.horizontal-list{		
			li {
				margin-right: 15px;
				margin-bottom: 0.8em;
			}
			float: right;
		}
		
		.bottomline{
			padding: 8px 0;
		}
		
		h3 {
			color: #FFF;
			margin: 0;
			margin-right: 15px;
			float: left;
			border-right: 1px solid #fff;
			padding-right: 10px;
			vertical-align: middle;	

			
		}
		
		.copyright {
			
			
			span {
				float: left;
			}
			.gp_logo{
			background: url("http://www.greenpeace.org/international/Templates/Planet3/Styles/images/logo-mini.gif") no-repeat;
			width: 89px;
			text-indent: -9999px;
			overflow: hidden;
			display: inline-block;
			position: relative;
			top: 4px;
			margin: 0 5px 0 2px;
			}
			.year{
				font-weight: normal;
			}
			.copy_symbol{
			}
			
		}
	
	}
	.container {
		width: 960px;
		margin: 0 auto;
		position: relative;
	}
	
	
	
	background: url("images/flickr.gif") no-repeat scroll 0 0 transparent;
	
	// Dynamic listing
	
	.listings{
		border: none;
		padding: 0;
		width: auto;
		
		h3 {
		}
		
	}
	
	
}
