.nuiBasicList {
	
	&.t1 {
		margin: 1.2em 0 2.6em;
		padding: 0;
		list-style: none;
		
		.pane {
			list-style: none;
			padding: 0;
			margin: 0 0 3em;
			clear: both;
		}
		
		h1, h2 , h3, h4, h5, h6 {
			margin-top: 0.5em;
	
			& a {
				color: #66CC00;
			}			
		}
		
		.imageHolder {
			width: 200px;
			min-height: 130px;
			float: left;
			padding-right: 0.7em;
		}
		
		.contentHolder {
			display: table-cell;
			padding: 6em 2em 2em 1.5em;
		}
	}
	
	&.skin1 {
	
	}
	
	&.skin2{
		.pane{
			background-color: #fafbfb;
			@include box-shadow(rgba(0,0,0,0.09), 0px, 5px, 20px);
			@include border-radius(8px, 8px);
			color: #272c37;
			font-weight: 400;
			font-size: 1.1em;
			line-height: 1.3;			
		}
		
		h2, h3, h4, h5, h6{
			a {
				color: #6e7f8b;				
			}
		}
		
		.contentHolder{
			padding-top: 0.5em;
		}
		
	}
	
}