.nuiOpenMedia {

	p, ul, ol { 
		font: 11px/1.2 helvetica,arial,sans-serif;
		color: #FFF;
	}
	
	
	
	// Media on right, 600 - 320 px, no gutter 
	&.t1 {
		
		.media {
			width: 600px; 
			float: left;
			margin: 0;
			padding: 0;
			min-height: 360px;
			
		}
		
		.pane {
			width: 280px;
			margin: 0;
			padding: 20px 10px;
			float: left;
			height: 320px;
		}
		
		.no_bullets {
			margin: 0.6em 0 1.2em;
		
		}
		
	
	}


}
