@import "compass";

body {
	width: 960px;
	position: relative;
	margin: 87px auto !important;
}

#sandbox{ 
	margin-bottom: 5px;
	border: 1px dotted red;
	padding: 5px;
}
#base, .controls, #panes, #source, #logger {
	background-color: #F2F2F2;
	padding: 8px;
	border: 1px solid #CCCCCC;
	@include border-radius(5px);
	margin-bottom: 4px;
	position: relative;
	
	
	
}

#base {
	background-color: #5E5E5E;
	.inputRow{
		border: 1px solid #7D7D7D;
		padding: 4px 7px 7px;
		margin-bottom: 3px;
		margin-right: 5px;
		background-color: #ABABAB;
		@include border-radius(5px);
		float: left;
		
		label {
			display: block;
			color: #FFF;
			font-weight: bold;
			vertical-align: top;
			margin-bottom: 3px;
		}
	}

}
.controls {
	background-color: #969696;
}

#panes {
	float: left;
	width: 550px;
	height: 600px;
	overflow: auto;
	min-height: 100%;
	
	.pane {
		margin: 9px;
		background-color: #545A5E;
		padding: 15px;
		border: 6px solid #B8B8B8;
		@include border-radius(10px);
		
	}
	.inputRow{
		border: 1px dashed #808080;
		padding: 7px;
		margin-bottom: 3px;
		@include border-radius(5px);
	}
	label{
		display: block;
		margin-bottom: 5px;
		color: #FFF;
		font-weight: bold;
	}
	input[type=text], textarea{
		width: 97%;
	}
	.removePane{
		float: right;
		font-size: 12px;
		margin: 7px 0 6px;
	}
}
.label_holder{
	width: 100%;
	height: 0px;
	clear: both;
	overflow: visible;
	position: relative;
}


#source {
	float: right;
	width: 360px;
	height: 600px;
		
	.nuiButton{
			font-size: 12px;
			margin-bottom: 5px;
		}
	
	#source_out{
		width: 338px;
		padding: 8px;
		background-color: #707070;
		color: #F2F2F2;
		font-family: Monaco,"Bitstream Vera Sans Mono","Lucida Console",Terminal, monospace;
		font-size: 12px;
		height: 530px;
		overflow: auto;
		
		&:focus {
			background-color: #4D4D4D;
		}
		&.inv{
			background-color: #EDEBDF;
			color: #5C5C5C;
			
			&:focus{
			background-color: #F5F2DF;
			}
		}
		
	
	}
	
	
}

#builder_title{
	top: 0;
	left: 0;
	display: block;
	
	height: 70px;
	margin:0;
	padding:0;
	margin-top: -70px;
	color: #fff;
	font-size: 2.6em;
}

.builder_label{
	position: absolute;
	padding: 0;
	margin: 0;
	font-weight: bold;
	color: #CCCCCC;
	
	&.left, &.right {
		float: none;
		top: 0;
	}
	&.left {
		right: 101%;
		text-align: right;
	}
	
	&.right {
		left: 101%;
	}
}

#logger{
	clear: both;
	background-color: #2E2F30;
	font-family: Monaco,"Bitstream Vera Sans Mono","Lucida Console",Terminal, monospace;
	height: 157px;
	overflow: auto;
	#log {
		color: #808F91;
		
		.entry {
			color: #FFF;
			&.error{
				color: red;
			}
		}
	}
}
